/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
body, button, input, select, textarea {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}

.entry-header {
  font-size: 0.92em;
}

body.home #content.site-content {
  min-height: 0;
}

.main-navigation li a {
  font-weight: 300;
}

a.buy-btn-black {
  width: 69px;
  height: 44px;
  text-indent: -99999px;
  overflow: hidden;
  display: inline-block;
  background: url(../images/btn-buy-black-hover.jpg) no-repeat;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
a.buy-btn-black:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.woocommerce-message {
  font-weight: bold;
}
.woocommerce-message a.button {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  color: white;
  background-color: #8fae1b;
  border-radius: 0;
  line-height: 0.7em;
  padding: 13px 20px 10px;
}

.woocommerce table.shop_table th {
  font-family: "Rajdhani", sans-serif;
}

.woocommerce td.product-name dl.variation dd {
  margin-bottom: 0;
}
.woocommerce td.product-name dl.variation dd p {
  padding: 0;
  margin: 0;
}

.woocommerce .quantity .qty {
  padding: 2.5px !important;
}

.woocommerce-checkout #payment div.payment_box {
  background-color: white;
}
.woocommerce-checkout #payment div.payment_box:before {
  border: 1em solid white;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}
.woocommerce-checkout #payment div.payment_box p {
  margin: 0;
  font-weight: bold;
}

.cart-empty {
  font-weight: bold;
}

.invert {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body.woocommerce {
  background-image: none;
}
body.woocommerce #container {
  position: relative;
}
body.woocommerce select {
  height: 30px;
}
body.woocommerce .go_to_cart {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
}
body.woocommerce .go_to_cart a {
  color: #E91C35;
}
body.woocommerce .woocommerce-breadcrumb {
  margin-left: 10px;
}
body.woocommerce #content.site-content {
  top: 0;
  margin: 0;
  width: 100%;
  padding: 20px 10px 0;
}
body.woocommerce #content.site-content .dropdown-select {
  margin-left: 10px;
  display: inline-block;
  float: left;
  padding: 5px 10px;
  border: 1px solid #ddd;
  min-width: 280px;
  position: relative;
  border-radius: 0;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 10px;
}
body.woocommerce #content.site-content .dropdown-select:after {
  content: '\f107';
  font-family: FontAwesome;
  right: 8px;
  top: 8px;
  position: absolute;
  font-size: 16px;
}
body.woocommerce #content.site-content .dropdown-select select {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 15px;
}
body.woocommerce #content.site-content .woocommerce-ordering {
  margin-right: 0;
}
body.woocommerce #content.site-content .buy-book, body.woocommerce #content.site-content .buy-gift {
  margin-left: 10px;
  display: inline-block;
  float: left;
  padding: 10px;
  background-color: #ddd;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  margin-bottom: 10px;
}
body.woocommerce #content.site-content .buy-book:hover, body.woocommerce #content.site-content .buy-gift:hover {
  font-weight: 600;
}
body.woocommerce #content.site-content .buy-book {
  width: 138px;
}
body.woocommerce #content.site-content .buy-gift {
  width: 168px;
}
body.woocommerce #content.site-content .woocommerce-product-search input {
  margin-left: 10px;
  display: inline-block;
  float: left;
  padding: 8px 10px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 0;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
body.woocommerce #content.site-content .woocommerce-product-search button {
  padding: 14px;
  margin: 0;
  border: 1px solid #333;
  border-radius: 0;
  background: transparent;
  outline: none;
  float: left;
}
body.woocommerce #content.site-content .variations .dropdown-select {
  margin-left: 0px;
  min-width: 0;
  width: 100%;
  margin-bottom: 10px;
}
body.woocommerce #content.site-content .variations .dropdown-select select {
  font-style: normal;
  margin: 0;
  font-size: 15px;
}
body.woocommerce #content.site-content .variations .reset_variations {
  color: #E91C35;
}
body.woocommerce #content.site-content .variations .reset_variations:after {
  content: " to clear above selection to see other SIZE and FINISH options";
  text-decoration: none;
}
body.woocommerce #content.site-content .woocommerce-variation-price .price {
  font-size: 2em;
}
body.woocommerce #content.site-content .woocommerce-variation-price .small {
  font-family: "Rajdhani", sans-serif;
}
body.woocommerce #content.site-content .shipping-info {
  color: #E91C35;
  font-size: .83em;
  clear: both;
  margin-top: 1em;
}
body.woocommerce #content.site-content .shipping-info a {
  color: #E91C35;
}
body.woocommerce #content.site-content #primary.content-area {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
body.woocommerce #content.site-content .entry-header {
  position: relative;
  margin-top: 0;
}
body.woocommerce #content.site-content #container {
  padding: 0;
}
body.woocommerce #content.site-content .product_image {
  float: none;
  width: 100%;
  position: relative;
}
body.woocommerce #content.site-content #image_container {
  border: 1px solid;
  position: relative;
  width: 100%;
  transition: opacity 0.2s;
}
body.woocommerce #content.site-content #image_container .preview-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 63.5%;
}
body.woocommerce #content.site-content #image_container .preview-wrapper img {
  display: block;
  position: absolute;
  padding: 20px;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body.woocommerce #content.site-content #image_container.hidden {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: block !important;
}
body.woocommerce #content.site-content #jckpc_images {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 100% !important;
  position: absolute;
  top: 0;
}
body.woocommerce #content.site-content .entry-footer {
  position: relative;
  top: 2em;
  clear: both;
}
body.woocommerce #content.site-content .entry-footer .title {
  position: relative;
  float: left;
  left: -10px;
  width: calc(100% + 20px);
  margin: 1em 0;
  background-color: #e5e5e5;
}
body.woocommerce #content.site-content .entry-footer .title h3 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  text-align: center;
}
body.woocommerce #content.site-content .entry-footer .wrapper {
  width: 100%;
  margin: auto;
  padding: 40px;
  clear: both;
}
body.woocommerce #content.site-content .entry-footer .wrapper h6 {
  font-size: 17px;
  margin: 0;
}
body.woocommerce #content.site-content .entry-footer .wrapper p {
  font-family: "Rajdhani", sans-serif;
  margin-top: 0;
}
body.woocommerce #content.site-content .entry-footer .wrapper .caption {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  margin-bottom: 1em;
}
body.woocommerce #content.site-content .entry-footer .wrapper .left {
  clear: both;
  float: left;
  width: 100%;
}
body.woocommerce #content.site-content .entry-footer .wrapper .right {
  float: left;
  width: 100%;
}
body.woocommerce footer.site-footer {
  width: 100%;
  padding: 0;
}
body.woocommerce .woocommerce-ordering {
  float: left;
  margin-bottom: 0;
}
body.woocommerce #filter-box {
  width: auto;
  margin-left: 10px;
}
body.woocommerce div.product .product_title {
  font-size: 24px;
  font-weight: 500;
}
body.woocommerce div.product span.price, body.woocommerce div.product div.price, body.woocommerce div.product p.price {
  margin: 0 !important;
  line-height: 100%;
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
}
body.woocommerce div.product span.price .amount, body.woocommerce div.product div.price .amount, body.woocommerce div.product p.price .amount {
  margin-left: 3px;
}
body.woocommerce div.product span.price .amount:first-child, body.woocommerce div.product div.price .amount:first-child, body.woocommerce div.product p.price .amount:first-child {
  margin-left: 0px;
  margin-right: 3px;
}
body.woocommerce div.product .small {
  font-size: 0.8em;
  margin-bottom: 10px;
}
body.woocommerce div.product #call_for_credit p {
  float: none !important;
}
body.woocommerce div.product form.cart {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
body.woocommerce div.product form.cart .variations label {
  font-family: "Rajdhani", sans-serif;
}
body.woocommerce div.product form.cart .button {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  line-height: 0.7em;
  padding: 13px 20px 10px;
  border-radius: 0;
  background-color: #ddd;
  font-size: 15px;
  color: #333;
  text-transform: uppercase;
}
body.woocommerce div.product form.cart .button:hover {
  background-color: #ddd !important;
  font-weight: 600;
  box-shadow: none;
}
body.woocommerce div.product .product_meta {
  display: none;
}
body.woocommerce div.product .product_description {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 0.9em;
}
body.woocommerce div.product .summary {
  margin-bottom: 0;
}
body.woocommerce ul.products li.product {
  width: 50% !important;
  padding: 10px !important;
  margin: 0 !important;
}
body.woocommerce ul.products li.product .onsale {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: 2px 15px;
  line-height: 2em;
  min-height: 0;
  border: 1px solid white;
  top: 30px;
  right: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
body.woocommerce ul.products li.product .price del {
  display: inline-block;
  color: #000;
}
body.woocommerce ul.products li.product .price del .amount {
  color: #000;
}
body.woocommerce ul.products li.product .price ins {
  display: inline-block;
}

body.woocommerce-cart .button, body.woocommerce-cart input.button {
  font-family: "Rajdhani", sans-serif;
  line-height: 0.7em;
  padding: 13px 20px 10px !important;
  font-weight: normal;
  border-radius: 0;
  display: inline-block;
  float: left;
  background-color: #ddd;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  font-weight: 600;
}
body.woocommerce-cart .button:hover, body.woocommerce-cart input.button:hover {
  background-color: #ddd !important;
  font-weight: 600;
  box-shadow: none;
}
body.woocommerce-cart a.button.alt {
  font-family: "Rajdhani", sans-serif;
  background-color: #ddd;
  width: 100%;
  border-radius: 0;
  font-weight: 600;
}
body.woocommerce-cart td.actions .input-text {
  font-family: "Rajdhani", sans-serif;
  border-radius: 0;
  padding: 5px 6px 5px !important;
  font-weight: 600;
}
body.woocommerce-cart td.actions .input-text#coupon_code {
  width: 136px !important;
}
body.woocommerce-cart table th {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}
body.woocommerce-cart .variation dd {
  margin: 0 !important;
  padding: 0 !important;
}
body.woocommerce-cart .variation dd p {
  margin: 0;
  padding: 0;
}
body.woocommerce-cart table.cart img {
  width: 196px;
}

body.woocommerce-checkout .payment_method_paypal {
  font-size: 1.2em;
}
body.woocommerce-checkout input.button.alt {
  border-radius: 0;
  font-family: "Rajdhani", sans-serif;
  background-color: black;
  font-weight: 600;
  color: #ebe9eb;
  font-size: 1.17em;
}
body.woocommerce-checkout input.button.alt:hover {
  background-color: black;
  color: #ebe9eb;
  box-shadow: none;
}

.main-navigation ul ul {
  width: 340px;
}
.main-navigation ul ul li#search a, .main-navigation ul ul li#subscribe a {
  margin: 0;
  padding: 0;
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
  background-color: #666;
}

.project-photos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project-photos:before,
.project-photos:after {
  content: "";
  display: table;
}

.project-photos:after {
  clear: both;
}

.project-photos li {
  display: inline-block;
  cursor: pointer;
  float: left;
  width: 25%;
}

.project-photos > li > img {
  height: 212px;
  width: 100%;
  object-fit: cover;
}

#primary {
  width: 100% !important;
}

.project-photos li + li {
  display: none;
}

.project-wrapper {
  width: calc(25% - 4px);
  float: left;
  margin: 2px;
  position: relative;
  overflow: hidden;
}
.project-wrapper:hover div.info {
  min-height: 100%;
}
.project-wrapper:hover div.desc {
  display: block;
}

.project-wrapper div.info {
  margin: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 15px;
  z-index: 1;
  min-height: 0%;
  transition: all 1s;
}

.project-wrapper div.desc {
  position: absolute;
}

.project-photos li {
  width: 100%;
}

.project-photos > li > img {
  vertical-align: top;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

footer.site-footer {
  background: #000 !important;
}

.project-photos {
  position: relative;
  height: 0;
  padding-bottom: 75%;
}

.project-photos li {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 767px) {
  .project-wrapper {
    width: 100%;
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .project-wrapper {
    width: 33.3%;
  }
}
.show-info {
  float: right;
  margin: 5px;
  background: url("../images/info.png") 50% 50% no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.project-description {
  display: none;
}

.project-description.is-open {
  display: block;
  position: fixed;
  background: #000;
  width: 700px;
  top: 150px;
  z-index: 10;
  left: 50%;
  margin-left: -350px;
  padding: 15px;
  color: #fff;
}

@media (max-width: 767px) {
  .project-description.is-open {
    left: 10px;
    top: 40px;
    right: 10px;
    width: auto;
    margin: 0;
    bottom: 40px;
    background: rgba(0, 0, 0, 0.9);
  }
}
.project-description.is-open p {
  background: transparent;
  position: static;
  padding: 0;
  font-size: 14px;
}

.project-description.is-open h1 {
  margin: 0 0 20px;
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
}

.project-description.is-open .close-modal {
  float: right;
  background: #fff;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 50%;
  font-size: 30px;
  line-height: 12px;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

#content.site-content #primary.content-area,
body.woocommerce #content.site-content #container {
  padding: 10px;
}

footer.site-footer {
  width: 100%;
  padding: 0;
}

body.page-template-template-projects #content.site-content {
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
  body.woocommerce ul.products li.product {
    width: 33% !important;
  }
}
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  body.woocommerce .go_to_cart {
    display: block;
  }
  body.woocommerce #content.site-content .product_image {
    float: left;
    width: 68%;
  }
  body.woocommerce #content.site-content div.product div.summary {
    width: 30%;
  }
  body.woocommerce #content.site-content .entry-footer .wrapper .left {
    float: left;
    width: 68%;
  }
  body.woocommerce #content.site-content .entry-footer .wrapper .right {
    float: right;
    width: 30%;
  }
  body.woocommerce ul.products li.product {
    width: 25% !important;
  }
}
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1024px) {
  body.page-template-default #content.site-content #primary.content-area {
    width: 70% !important;
    float: left !important;
  }
}
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
